body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

#calc {
    background-color: #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 350px;
    gap: 15px;
    border-radius: 10px;
}

#screen {
    background-color: #ffffff;
    width: 200px;
    height: 80px;
    border-radius: 5px;
}

#screen-para {
    font-size: 36px;
    margin-left: 10px;
}

#buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 220px;
    height: 220px;
    gap: 2px;
    background-color: #bdbdbd;
}

.button-row {
    display: flex;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 20px;
    font-size: 17px;
    border: 0px;
    font-weight: 900;
    border-radius: 5px;
}

.operatorbtn {
    background-color: #2e2e2e;
    color: white;
}

.clearbtn {
    background-color: #d20000;
    color: white;
}