body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calc {
    border: solid aqua 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 260px;
    height: 360px;
}

#screen {
    border: solid aqua 2px;
    width: 220px;
    height: 80px;
}

#buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 220px;
    height: 220px;
    border: solid aqua 2px;
    gap: 2px;
}

.button-row {
    display: flex;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 20px;
}