body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 220px;
    height: 220px;
    border: solid aqua 2px;
    gap: 2px;
}

.button-row {
    display: flex;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 20px;
}